@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


html,
body {
  height: 100%;
}

body {
  padding-top: env(safe-area-inset-top); /* Use for devices with a notch */
  height: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

